# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.*

# Logs
logs/
*.log

# Jest coverage and cache
coverage/
jest-cache/
.cache/
.vscode/

# CircleCI CLI plugin cache
.circleci/plugin-cache/

# Test output
*.test.log

# Docker
*.pid
*.seed
*.pid.lock
docker-compos
